*{
    max-width: 100vw;
    max-height: 100dvh;
    color: white;
}

.outfit-title_font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90rem;
}

.main-container { 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 21.938rem;
    height: 37.188rem;
    border-radius: 0.875rem;
    background-color: hsl(216, 50%, 16%);
    font-family: "Outfit", system-ui;
    margin: auto;
}

.img-container {
    height: 18.938rem;
    width: 18.875rem;
    background-image: url('images/image-equilibrium.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 0.625rem;
    margin: 1.438rem;
}
